---
import BaseLayout from '../components/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import WorkSection from '../components/WorkSection.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import { work } from '../data/work';
---
<BaseLayout>
  <Header />
  <main>
    <Hero />
    <WorkSection projects={work} />
    <Contact />
  </main>
  <Footer />
</BaseLayout>
